{% extends 'base/base.html' %}

{% block title %}Bienvenido a la Aplicación de Control Médico{% endblock title %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-12 text-center">
            <h1 class="display-4">¡Bienvenido a la Aplicación de Control Médico!</h1>
            <p class="lead">Tu solución confiable para gestionar registros médicos y de pacientes.</p>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-12 text-center">
            <p>¿Listo para acceder a tu cuenta?</p>
        </div>
    </div>
</div>
{% endblock content %}
