{% extends "base/base.html" %}

{% block title %}
  Lista de Ciudades
{% endblock title %}

{% block content %}
  <table class="table table-hover">
    <thead>
      <th>ID</th>
      <th>Nombre</th>
      <th>Acciones</th>
    </thead>
    <tbody>
      <a href="{% url 'nfl:create_ciudad' %}" class="btn btn-success">Crear Ciudad</a>
      {% for ciudad in ciudades %}
        <tr>
          <td>{{ ciudad.id }}</td>
          <td>{{ ciudad.nombre }}</td>
          <td>
            <a href="{% url 'nfl:detail_ciudad' ciudad.id %}" class="btn btn-info">Detalles</a>
            <a href="{% url 'nfl:update_ciudad' ciudad.id %}" class="btn btn-warning">Editar</a>
            <a href="{% url 'nfl:delete_ciudad' ciudad.id %}" class="btn btn-danger">Eliminar</a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock content %}
