{% extends "base/base.html" %}

{% block title %}
  Lista de Estadios
{% endblock title %}

{% block content %}
  <table class="table table-hover">
    <thead>
      <th>ID</th>
      <th>Nombre</th>
      <th>Equipo</th>
      <th>Acciones</th>
    </thead>
    <tbody>
      <a href="{% url 'nfl:create_estadio' %}" class="btn btn-success">Crear Estadio</a>
      {% for estadio in estadios %}
        <tr>
          <td>{{ estadio.id }}</td>
          <td>{{ estadio.nombre }}</td>
          <td>{{ estadio.equipo.nombre }}</td>
          <td>
            <a href="{% url 'nfl:detail_estadio' estadio.id %}" class="btn btn-info">Detalles</a>
            <a href="{% url 'nfl:update_estadio' estadio.id %}" class="btn btn-warning">Editar</a>
            <a href="{% url 'nfl:delete_estadio' estadio.id %}" class="btn btn-danger">Eliminar</a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock content %}
