{% extends "base/base.html" %}

{% block title %}
  Eliminar Alergia
{% endblock title %}

{% block content %}
  <p>¿Estás seguro de que deseas eliminar la Alergia '{{ alergia.nombre }}'?</p>
  <form action="" method="post" class="form">
    {% csrf_token %}
    <button type="submit" class="btn btn-danger">Eliminar</button>
    <a href="{% url 'core:list_alergia' %}" class="btn btn-secondary">Cancelar</a>
  </form>
{% endblock content %}
